<div class="row">
    <div class="col-lg-6">
        <div class="row">
            <div class="col-sm-6">

                <!-- Total Revenue -->
                <app-total-revenue />

            </div>
            <div class="col-sm-6">

                <!-- Total Shipments -->
                <app-total-shipments />

            </div>
            <div class="col-sm-6">

                <!-- Total Customers -->
                <app-total-customers />

            </div>
            <div class="col-sm-6">

                <!-- Total Orders -->
                <app-total-orders />

            </div>
        </div>
    </div>
    <div class="col-lg-6">

        <!-- Shipment Delivered -->
        <app-shipment-delivered />
        
    </div>
    <div class="col-lg-8">
        <div class="row">
            <div class="col-lg-6">

                <!-- Average Delivery Time -->
                <app-average-delivery-time />

            </div>
            <div class="col-lg-6">

                <!-- Live Shipment Status -->
                <app-live-shipment-status />
                
            </div>
        </div>

        <!-- Tracking Orders -->
        <app-tracking-orders />

    </div>
    <div class="col-lg-4">

        <!-- Top Countries -->
        <app-top-countries />

        <!-- Chat -->
        <app-chat />
        
    </div>
    <div class="col-lg-4 col-md-6">

        <!-- Top Shipping Methods -->
        <app-top-shipping-methods />

    </div>
    <div class="col-lg-4 col-md-6">

        <!-- Todays Shipments -->
        <app-todays-shipments />
        
    </div>
    <div class="col-lg-4">

        <!-- On Time Delivery -->
        <app-on-time-delivery />
        
    </div>
</div>

<!-- Shipment List -->
<app-shipment-list />