<div
    class="re-agent-welcome-card trezo-card border-radius d-block border-0 shadow-none"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <div class="trezo-card-content">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="content">
                    <span class="sub-title fw-medium d-inline-block">
                        Hello Olivia!
                    </span>
                    <h1 class="text-white mb-0">
                        Welcome Back! Ready to Close More Deals Today?
                    </h1>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="image text-center text-lg-end">
                    <img src="images/bank.png" alt="bank-image">
                </div>
            </div>
        </div>
    </div>
</div>