<div
    class="youtube-subscribers-card trezo-card mb-25 border-radius d-block bg-white shadow-none"
    [class.component-dark-theme]="themeService.isDark()"
>
    <div class="trezo-card-content">
        <img src="images/icons/youtube.svg" alt="youtube">
        <h3 class="fw-medium">
            84.7k
        </h3>
        <span class="d-block">
            Subscribers
        </span>
        <div class="info d-flex align-items-center">
            <span class="d-block text-body">
                This Month
            </span>
            <span class="info-badge down position-relative d-inline-block">
                <i class="ri-arrow-down-line"></i>
                5.2%
            </span>
        </div>
    </div>
</div>