<!-- Stats -->
<app-stats />

<div class="row">
    <div class="col-xxxl-8">

        <!-- Price Movement -->
        <app-price-movement />

    </div>
    <div class="col-xxxl-4">
        <div class="row">
            <div class="col-md-6 col-xxxl-12">

                <!-- Trading Volume -->
                <app-trading-volume />
                
            </div>
            <div class="col-md-6 col-xxxl-12">

                <!-- Portfolio Distribution -->
                <app-portfolio-distribution />
                
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="row">
            <div class="col-lg-6">

                <!-- Profit & Loss -->
                <app-profit-loss />

            </div>
            <div class="col-lg-6">

                <!-- Risk Exposure -->
                <app-risk-exposure />
                
            </div>
        </div>

        <!-- Recent Transactions -->
        <app-recent-transactions />

    </div>
    <div class="col-lg-4">
        <div class="row">
            <div class="col-lg-12">

                <!-- Live Price Tracker -->
                <app-live-price-tracker />

            </div>
            <div class="col-lg-12">
                
                <!-- Trades Per Month -->
                <app-trades-per-month />

            </div>
        </div>
    </div>
    <div class="col-xxl-4 col-md-6">

        <!-- Asset Allocation -->
        <app-asset-allocation />

    </div>
    <div class="col-xxl-4 col-md-6">

        <!-- Gainers & Losers -->
        <app-gainers-losers />
        
    </div>
    <div class="col-xxl-4">

        <!-- Market Sentiment Indicator -->
        <app-market-sentiment-indicator />
        
    </div>
</div>