<div class="operations-card trezo-card mb-25 border-radius d-block bg-white border-0 shadow-none">
    <div class="trezo-card-content d-flex justify-content-between">
        <div class="title">
            <span class="d-block">
                Operations
            </span>
            <h2>
                12
            </h2>
            <span class="trezo-badge finished with-border border-radius">
                +5.4%
            </span>
        </div>
        <div class="icon">
            <img src="images/icons/scissors.svg" alt="scissors">
        </div>
    </div>
</div>