<div
    class="portfolio-value-card trezo-card mb-25 border-radius d-block border-0 shadow-none"
    [class.component-dark-theme]="themeService.isDark()"
>
    <div class="trezo-card-content d-flex align-items-center justify-content-between">
        <div>
            <span class="d-block">
                Portfolio Value
            </span>
            <h5 class="mb-0">
                $94.69B
            </h5>
        </div>
        <div class="icon rounded-circle bg-white text-primary d-flex align-items-center justify-content-center">
            <i class="material-symbols-outlined">
                attach_money
            </i>
        </div>
    </div>
</div>