/familiar_subreport.jasper
/ficha_matricula.jasper
/firma_rector_subreport.jasper
/datos_estudiante_constancia_subreport.jasper
/firmas_certificados_subreport.jasper
/notas_certificado_per_subreport.jasper
/cuadro_honor3.jasper
/consolidado_totales_subreport.jasper
/consolidado_totales_2_subreport.jasper
/firmas_subreport.jasper
/firma_dri_grupo_subreport.jasper
/observaciones_subreport.jasper
/indicadores_subreport.jasper
/msg_ind_boletin_subreport.jasper
/logros_subreport.jasper
/msg_boleting_subreport.jasper
/areas_prom_subreport.jasper
/periodos_prom_subreport.jasper
/periodos_subreport.jasper
/indicadores_comp_subreport.jasper
/estadisticas_grado__subreport.jasper
/estadisticas_grado_grupado_subreport.jasper
/estadisticas_grado_perdidos_subreport.jasper
/estadisticas_grado_grupo_perdidos_subreport.jasper
/estadisticas_grado_perdidos_asig_subreport.jasper
/estudiantes_jornada.jasper
/familiar_acud_subreport.jasper
/estadistica_edades_subreport.jasper
/competencias_subreport.jasper
/competencias_small_subreport.jasper
/fechas_nacimiento.jasper
/ficha_obs_mod3_anotaciones_subreport.jasper
/ficha_obs_mod3_general_subreport.jasper
/ficha_obs_mod3_seguimiento_subreport.jasper
/respresentative_students.jasper
/representative_results.jasper
/representative_results_polling_stations.jasper
/certificado_final_areas_carta.jasper
/firma_secretaria_subreport.jasper
/areas_prom_final2_subreport.jasper
/respeciales_subreport.jasper
/desempeno_subreport.jasper
/datos_estudiante_cert_final_subreport.jasper
/certificado_final_areas.jasper
/certificado_final.jasper
/areas_prom_final_subreport.jasper
/certificado_electoral.jasper
/carga_academica2.jasper
/ficha_matricula2.jasper
/constancia_estudio.jasper
/certificado_estudio_per.jasper
/dir_grupo.jasper
