<div class="row">
    <div class="col-6 col-sm-3 col-md-2">
        <button type="button" class="btn btn-custom" (click)="goRoute('/payroll/employees')">
            <i class="fas fa-user-graduate"></i>
            Inscriptiones y matriculas
        </button>
    </div>
    <div class="col-6 col-sm-3 col-md-2">
        <button type="button" class="btn btn-custom" (click)="goRoute('/payroll/management')">
            <i class="fas fa-table"></i>
            Áreas académicas
        </button>
    </div>
    <div class="col-6 col-sm-3 col-md-2">
        <button type="button" class="btn btn-custom" (click)="goRoute('/payroll/batch')">
            <i class="fas fa-table"></i>
            Asignaturas académicas
        </button>
    </div>
    <div class="col-6 col-sm-3 col-md-2">
        <button type="button" class="btn btn-custom" (click)="goRoute('/payroll/batch')">
            <i class="fas fa-id-card"></i>
            Asigncación académica
        </button>
    </div>
    <div class="col-6 col-sm-3 col-md-2">
        <button type="button" class="btn btn-custom" (click)="goRoute('/payroll/batch')">
            <i class="fas fa-chalkboard-teacher"></i>
            Notas académicas
        </button>
    </div>
    <div class="col-6 col-sm-3 col-md-2">
        <button type="button" class="btn btn-custom" (click)="goRoute('/payroll/batch')">
            <i class="fas fa-chalkboard-teacher"></i>
            Notas reportadas
        </button>
    </div>
    <div class="col-6 col-sm-3 col-md-2">
        <button type="button" class="btn btn-custom" (click)="goRoute('/payroll/batch')">
            <i class="fas fa-chalkboard-teacher"></i>
            Transferir notas académicas
        </button>
    </div>
    <div class="col-6 col-sm-3 col-md-2">
        <button type="button" class="btn btn-custom" (click)="goRoute('/payroll/batch')">
            <i class="fas fa-chalkboard-teacher"></i>
            Mover estudiantes
        </button>
    </div>
    <div class="col-6 col-sm-3 col-md-2">
        <button type="button" class="btn btn-custom" (click)="goRoute('/payroll/batch')">
            <i class="fas fa-key"></i>
            Acceso a estudiantes
        </button>
    </div>
    <div class="col-6 col-sm-3 col-md-2">
        <button type="button" class="btn btn-custom" (click)="goRoute('/payroll/batch')">
            <i class="fas fa-chalkboard-teacher"></i>
            Actividades de apoyo (nivelaciones)
        </button>
    </div>
</div>