<div class="row">
    <div class="col-6 col-sm-3 col-md-2">
        <button type="button" class="btn btn-custom" (click)="goRoute('/administrative/school')">
            <i class="fas fa-school"></i>
            Datos de la escuela
        </button>
    </div>
    <div class="col-6 col-sm-3 col-md-2">
        <button type="button" class="btn btn-custom" (click)="goRoute('/administrative/headquarters')">
            <i class="fas fa-house-damage"></i>
            Sedes educativas
        </button>
    </div>
    <div class="col-6 col-sm-3 col-md-2">
        <button type="button" class="btn btn-custom" (click)="goRoute('/administrative/teachers')">
            <i class="fas fa-id-card"></i>
            Personal docente
        </button>
    </div>
    <div class="col-6 col-sm-3 col-md-2">
        <button type="button" class="btn btn-custom" (click)="goRoute('/administrative/managers')">
            <i class="fas fa-id-card"></i>
            Personal administrativo
        </button>
    </div>
    <div class="col-6 col-sm-3 col-md-2">
        <button type="button" class="btn btn-custom" (click)="goRoute('/administrative/directors')">
            <i class="fas fa-chalkboard-teacher"></i>
            Directores de grupo
        </button>
    </div>
</div>