<div class="patients-card trezo-card mb-25 border-radius d-block bg-white border-0 shadow-none">
    <div class="trezo-card-content d-flex justify-content-between">
        <div class="title">
            <span class="d-block">
                Patients
            </span>
            <h2>
                334
            </h2>
            <span class="trezo-badge finished with-border border-radius">
                +7%
            </span>
        </div>
        <div class="icon">
            <img src="images/icons/examination.svg" alt="examination">
        </div>
    </div>
</div>