/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.zip
/.zip
/backend/.zip
/front/.zip
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/backend/nbproject/private/
#public ignore
/backend/public/hot
/backend/public/storage
/backend/public/reports/**/*.jasper
backend/public/reports/**/*.jasper
**.jasper
#front ignore
/fronts/asaie/*.json
/fronts/asaie/*.json*
/fronts/asaie/classic.*
/fronts/asaie/classic.jsonp
fronts/asaie/.*
fronts/asaie/$*