<section id="ecommerce-header">
	<div class="row">
		<div class="col-sm-12">
			<div class="ecommerce-header-items">
				<div class="result-toggler">
					<!-- <button class="navbar-toggler shop-sidebar-toggler" type="button"   data-toggle="collapse" (click)="toggleSidebarMessage('ecommerce-sidebar')" >
						<span class="navbar-toggler-icon d-block d-lg-none"><i data-feather="menu"></i></span>
					</button> -->
					<div class="search-results"> <strong> {{ records.length | number }} </strong> resultados de <strong>{{ total | number }}</strong></div>
				</div>
				<div class="view-options d-flex">
					<div class="margin-left space-right">
						<button  class="btn btn-primary" (click)="refreshCarsdMessage()" [disabled]="loading">
							<i class="fa fa-sync mr-1 fas-fa-18"></i>
						</button>
					</div>
					<div class="space-right">
						<button class="btn btn-success" (click)="createDataMessage()" [disabled]="loading">
							<i class="fa fa-plus mr-1 fas-fa-18"></i>
							{{ 'buttons.new' | translate }}
						</button>
					</div>
					<div *ngIf="useOtherButton" class="space-right">
						<button  class="btn btn-info" (click)="onOtherButtonMessage()" [disabled]="loading">
							<i class="{{ faOtherButton }}"></i>
							{{ textOtherButton }}
						</button>
					</div>
					<div *ngIf="useImport" class="space-right">
						<button  class="btn btn-success" (click)="importDataMessage()" [disabled]="loading">
							<i class="fa fa-upload mr-1 fas-fa-18"></i>
							{{ 'buttons.import' | translate }}
						</button>
					</div>
					<div class="btn-group btn-group-toggle" data-toggle="buttons">
						<label  class="btn btn-icon btn-outline-primary view-btn grid-view-btn"  [class.active]="gridViewRef === true">
							<input type="radio" name="radio_options" id="radio_option1" (click)="gridViewMessage()" />
							<i data-feather="grid" class="font-medium-3"></i>
						</label>
						<label class="btn btn-icon btn-outline-primary view-btn list-view-btn"  [class.active]="gridViewRef !== true">
							<input type="radio" name="radio_options" id="radio_option2" (click)="listViewMessage()" />
							<i data-feather="list" class="font-medium-3"></i>
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="ecommerce-searchbar" class="ecommerce-searchbar">
	<div class="row mt-1">
		<div class="col-sm-12">
			<fieldset>
				<div class="input-group input-group-merge">
					<input type="text" #searchField class="form-control search-product" id="shop-search" [placeholder]="placeholderSearch"
							(keyup.enter)="searchQueryMessage(searchField.value)">
					<div class="input-group-append">
						<button class="btn btn-primary" (click)="searchQueryMessage(searchField.value)" [disabled]="loading">
							<i class="fa fa-search"></i>
						</button>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
</section>
