<div class="row">
    <div class="col-6 col-sm-3 col-md-2">
        <button type="button" class="btn btn-custom" (click)="goRoute('/payroll/employees')">
            <i class="fas fa-file-signature"></i>
            Firmas
        </button>
    </div>
    <div class="col-6 col-sm-3 col-md-2">
        <button type="button" class="btn btn-custom" (click)="goRoute('/payroll/batch')">
            <i class="fas fa-tools"></i>
            General
        </button>
    </div>
    <div class="col-6 col-sm-3 col-md-2">
        <button type="button" class="btn btn-custom" (click)="goRoute('/payroll/management')">
            <i class="far fa-graduation-cap"></i>
            Grados académicos
        </button>
    </div>
    <div class="col-6 col-sm-3 col-md-2">
        <button type="button" class="btn btn-custom" (click)="goRoute('/payroll/batch')">
            <i class="far fa-graduation-cap"></i>
            Agrupación de grados académicos
        </button>
    </div>
    <div class="col-6 col-sm-3 col-md-2">
        <button type="button" class="btn btn-custom" (click)="goRoute('/payroll/batch')">
            <i class="far fa-sliders-h"></i>
           Niveles académicos
        </button>
    </div>
    <div class="col-6 col-sm-3 col-md-2">
        <button type="button" class="btn btn-custom" (click)="goRoute('/payroll/batch')">
            <i class="fas fa-sliders-h"></i>
            Escala nacional
        </button>
    </div>
    <div class="col-6 col-sm-3 col-md-2">
        <button type="button" class="btn btn-custom" (click)="goRoute('/payroll/batch')">
            <i class="fas fa-sliders-h"></i>
            Escala de desempeños
        </button>
    </div>
    <div class="col-6 col-sm-3 col-md-2">
        <button type="button" class="btn btn-custom" (click)="goRoute('/payroll/batch')">
            <i class="fas fa-sliders-h"></i>
            Escala de competencias
        </button>
    </div>
    <div class="col-6 col-sm-3 col-md-2">
        <button type="button" class="btn btn-custom" (click)="goRoute('/payroll/batch')">
            <i class="fas fa-tasks"></i>
            Periodos académicos
        </button>
    </div>
    <div class="col-6 col-sm-3 col-md-2">
        <button type="button" class="btn btn-custom" (click)="goRoute('/payroll/batch')">
            <i class="fas fa-user-graduate"></i>
            Observador
        </button>
    </div>
    <div class="col-6 col-sm-3 col-md-2">
        <button type="button" class="btn btn-custom" (click)="goRoute('/payroll/batch')">
            <i class="far fa-newspaper"></i>
            Boletines
        </button>
    </div>
    <div class="col-6 col-sm-3 col-md-2">
        <button type="button" class="btn btn-custom" (click)="goRoute('/payroll/batch')">
            <i class="far fa-newspaper"></i>
            Encabezado de informes
        </button>
    </div>
    <div class="col-6 col-sm-3 col-md-2">
        <button type="button" class="btn btn-custom" (click)="goRoute('/payroll/batch')">
            <i class="fas fa-stethoscope"></i>
            Estado final
        </button>
    </div>
    <div class="col-6 col-sm-3 col-md-2">
        <button type="button" class="btn btn-custom" (click)="goRoute('/payroll/batch')">
            <i class="fas fa-trash"></i>
            Eliminar notas en cero
        </button>
    </div>
    <div class="col-6 col-sm-3 col-md-2">
        <button type="button" class="btn btn-custom" (click)="goRoute('/payroll/batch')">
            <i class="fas fa-calendar"></i>
            Jornadas de estudio
        </button>
    </div>
    <div class="col-6 col-sm-3 col-md-2">
        <button type="button" class="btn btn-custom" (click)="goRoute('/payroll/batch')">
            <i class="fas fa-address-card"></i>
            Carnés escolares
        </button>
    </div>
</div>