<div class="hotel-stats-card trezo-card mb-25 border-radius d-block bg-white border-0 shadow-none">
    <div class="trezo-card-content">
        <div class="row">
            <div class="col-md-4">

                <!-- New Bookings -->
                <app-new-bookings />

            </div>
            <div class="col-md-4">

                <!-- Check In -->
                <app-check-in />
                
            </div>
            <div class="col-md-4">

                <!-- Check Out -->
                <app-check-out />
                
            </div>
        </div>
    </div>
</div>