<!-- Welcome -->
<app-welcome />

<div class="real-estate-agent-content">

    <!-- Stats -->
    <app-stats />

    <div class="row">
        <div class="col-lg-8">

            <!-- Total Revenue -->
            <app-total-revenue />

        </div>
        <div class="col-lg-4">

            <!-- Top Channels -->
            <app-top-channels />

        </div>
        <div class="col-lg-4">

            <!-- Recent Clients -->
            <app-recent-clients />

        </div>
        <div class="col-lg-8">

            <!-- My Featured Listings -->
            <app-my-featured-listings />

        </div>
        <div class="col-lg-8">

            <!-- Revenue Goal Progress -->
            <app-revenue-goal-progress />

        </div>
        <div class="col-lg-4">

            <!-- Properties By Country -->
            <app-properties-by-country />

        </div>
        <div class="col-lg-3">
            
            <!-- Mobile App -->
            <app-mobile-app />

        </div>
        <div class="col-lg-9">
            
            <!-- Latest Transactions -->
            <app-latest-transactions />

        </div>
    </div>

    <!-- Client Ratings -->
    <app-client-ratings />

</div>