<div class="row">
    <div class="col-xxl-6">

        <!-- Welcome -->
        <app-welcome />

        <div class="row">
            <div class="col-sm-6">

                <!-- Total Orders -->
                <app-total-orders />

            </div>
            <div class="col-sm-6">

                <!-- Pending Orders -->
                <app-pending-orders />
                
            </div>
        </div>

    </div>
    <div class="col-xxl-6">
        <div class="row">
            <div class="col-sm-6">

                <!-- Revenue -->
                <app-revenue />

            </div>
            <div class="col-sm-6">

                <!-- Expense -->
                <app-expense />
                
            </div>
        </div>

        <!-- Top Selling Items -->
        <app-top-selling-items />

    </div>
    <div class="col-lg-12">

        <!-- Recent Orders List -->
        <app-recent-orders-list />

    </div>
    <div class="col-xxl-3">

        <!-- Order Summary -->
        <app-order-summary />

    </div>
    <div class="col-xxl-6 col-lg-6">

        <!-- Revenue vs Expense -->
        <app-revenue-vs-expense />
        
    </div>
    <div class="col-xxl-3 col-lg-6">

        <!-- Low Stock Alerts -->
        <app-low-stock-alerts />
        
    </div>
    <div class="col-lg-4 col-md-6 col-xl-6 col-xxl-4">

        <!-- Staff Performance Scores -->
        <app-staff-performance-scores />

    </div>
    <div class="col-lg-4 col-md-6 col-xl-6 col-xxl-4">

        <!-- Revenue by Branches -->
        <app-revenue-by-branches />
        
    </div>
    <div class="col-lg-4 col-xl-12 col-xxl-4">

        <!-- Tickets -->
        <app-tickets />
        
    </div>
    <div class="col-lg-12">

        <!-- Customer Ratings -->
        <app-customer-ratings />

    </div>
</div>