<div class="row">
    <div class="col-xxl-6">

        <!-- Welcome -->
        <app-welcome />

    </div>
    <div class="col-xxl-6">
        <div class="row">
            <div class="col-sm-6">

                <!-- Customer Satisfaction Rate -->
                <app-customer-satisfaction-rate />

            </div>
            <div class="col-sm-6">

                <!-- New Customers -->
                <app-new-customers />
                
            </div>
        </div>
    </div>
    <div class="col-lg-8">

        <!-- Top Selling Products -->
        <app-top-selling-products />

    </div>
    <div class="col-lg-4">

        <!-- Customers From Channels -->
        <app-customers-from-channels />
        
    </div>
    <div class="col-lg-4">

        <!-- Featured Services -->
        <app-featured-services />

    </div>
    <div class="col-lg-8">

        <!-- Recent Appointments -->
        <app-recent-appointments />
        
    </div>
    <div class="col-lg-8">

        <!-- Revenue By Services -->
        <app-revenue-by-services />

    </div>
    <div class="col-lg-4">

        <!-- Top Stylist Performance -->
        <app-top-stylist-performance />
        
    </div>
</div>

<!-- Top Customers -->
<app-top-customers />