$auth-1-inner-max-width: 400px !default;
$theme-dark-card-bg : #0A0E19 !default;
$theme-dark-bg : #0A0E19 !default;
$theme-dark-box-shadow : 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !default;
$theme-dark-body-color: #fff !default;

$custom-control-border-color: #e9ecef !default;
// Toastr Dark Layout
$content-padding : 1.5rem !default;


// custom form
$custom-file-height : 2.5rem !default;
$chevron-down: #6c757d !default;
$custom-control-indicator-checked-bg: #007bff !default;

$form-group-margin-bottom: 1rem !default;
$switch-bg-color: #007bff !default;
$switch-indicator-color: #fff !default;
