<div
    class="popular-hosts-card trezo-card mb-25 border-radius d-block bg-white border-0 shadow-none"
    [class.component-dark-theme]="themeService.isDark()"
>
    <div class="trezo-card-header d-flex align-items-center justify-content-between">
        <div class="trezo-card-title">
            <h5 class="mb-0 fw-semibold">
                Popular Hosts
            </h5>
        </div>
        <div class="trezo-card-subtitle">
            <a routerLink="." class="view-all-btn d-inline-block">
                <span class="d-inline-block position-relative">
                    View All
                    <i class="ri-arrow-right-s-line"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="trezo-card-content">
        <div class="table-style-two">
            <div class="basic-table table-responsive">
                <table class="table mb-0">
                    <tbody>
                        <tr>
                            <td>
                                <div class="employee-info d-flex align-items-center">
                                    <div class="img rounded-circle">
                                        <img alt="user-image" src="images/users/user54.jpg" class="rounded-circle">
                                    </div>
                                    <div>
                                        <span class="d-block fw-medium">
                                            Sarah W.
                                        </span>
                                        <span class="d-block text-body">
                                            Marketing
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="employee-info">
                                    <div>
                                        <span class="d-block fw-medium">
                                            25
                                        </span>
                                        <span class="d-block text-body">
                                            Hosted
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button class="btn">
                                    Follow
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="employee-info d-flex align-items-center">
                                    <div class="img rounded-circle">
                                        <img alt="user-image" src="images/users/user53.jpg" class="rounded-circle">
                                    </div>
                                    <div>
                                        <span class="d-block fw-medium">
                                            Tom R.
                                        </span>
                                        <span class="d-block text-body">
                                            Blogging
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="employee-info">
                                    <div>
                                        <span class="d-block fw-medium">
                                            30
                                        </span>
                                        <span class="d-block text-body">
                                            Hosted
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button class="btn">
                                    Follow
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="employee-info d-flex align-items-center">
                                    <div class="img rounded-circle">
                                        <img alt="user-image" src="images/users/user55.jpg" class="rounded-circle">
                                    </div>
                                    <div>
                                        <span class="d-block fw-medium">
                                            Amanda G.
                                        </span>
                                        <span class="d-block text-body">
                                            Branding
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="employee-info">
                                    <div>
                                        <span class="d-block fw-medium">
                                            28
                                        </span>
                                        <span class="d-block text-body">
                                            Hosted
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button class="btn following">
                                    Following
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="employee-info d-flex align-items-center">
                                    <div class="img rounded-circle">
                                        <img alt="user-image" src="images/users/user41.jpg" class="rounded-circle">
                                    </div>
                                    <div>
                                        <span class="d-block fw-medium">
                                            Lisa Kim
                                        </span>
                                        <span class="d-block text-body">
                                            Storytelling
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="employee-info">
                                    <div>
                                        <span class="d-block fw-medium">
                                            20
                                        </span>
                                        <span class="d-block text-body">
                                            Hosted
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button class="btn">
                                    Follow
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="employee-info d-flex align-items-center">
                                    <div class="img rounded-circle">
                                        <img alt="user-image" src="images/users/user43.jpg" class="rounded-circle">
                                    </div>
                                    <div>
                                        <span class="d-block fw-medium">
                                            David C.
                                        </span>
                                        <span class="d-block text-body">
                                            Social Media
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="employee-info">
                                    <div>
                                        <span class="d-block fw-medium">
                                            18
                                        </span>
                                        <span class="d-block text-body">
                                            Hosted
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button class="btn">
                                    Follow
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>