<div
    class="check-out-card trezo-card border-radius d-block bg-purple-100 border-0 shadow-none"
    [class.component-dark-theme]="themeService.isDark()"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <div class="trezo-card-content d-flex d-md-block align-items-center justify-content-between">
        <div>
            <span class="d-block">
                Check Out
            </span>
            <h1 class="lh-1">
                315
            </h1>
            <span class="trezo-badge with-border cancelled">
                -1.4%
            </span>
        </div>
        <div class="icon bg-white rounded-circle d-flex align-items-center justify-content-end">
            <img src="images/icons/point.svg" alt="point">
        </div>
    </div>
</div>