.transactions-history-card {
    .trezo-card-content {
        .basic-table {
            table {
                tbody {
                    tr {
                        td {
                            text-align: center;
                            font-size: 13px;
                            padding: {
                                top: 12px;
                                bottom: 12px;
                            };
                            .customer-info {
                                gap: 8px;
                    
                                .img {
                                    width: 22px;
                                }
                            }
                            .trezo-badge {
                                padding: {
                                    top: 2px;
                                    bottom: 2px;
                                };
                            }
                            &:first-child {
                                text-align: start;
                            }
                            &:last-child {
                                text-align: end;
                            }
                        }
                        &:first-child {
                            td {
                                border-top-width: 1px;
                            }
                        }
                    }
                }
            }
        }
        .trezo-card-pagination {
            padding-top: 12px;
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}