<div class="player-card trezo-card mb-25 border-radius d-block bg-white border-0 shadow-none">
    <div class="trezo-card-header d-flex align-items-center justify-content-between">
        <div class="trezo-card-title">
            <h5 class="mb-0 fw-semibold">
                Player
            </h5>
        </div>
        <div class="trezo-card-subtitle">
            <div class="trezo-card-header-menu position-relative">
                <button class="dot-menu style-two p-0 border-0 bg-transparent d-inline-block transition lh-1" (click)="toggleCardHeaderMenu()">
                    <i class="ri-more-2-fill"></i>
                </button>
                <ul class="dropdown-menu border-radius border-0 show" *ngIf="isCardHeaderOpen">
                    <li>
                        <button type="button" class="dropdown-item d-block w-100 position-relative transition">
                            Add Music
                        </button>
                    </li>
                    <li>
                        <button type="button" class="dropdown-item d-block w-100 position-relative transition">
                            Block Music
                        </button>
                    </li>
                    <li>
                        <button type="button" class="dropdown-item d-block w-100 position-relative transition">
                            Delete Music
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="trezo-card-content">
        <div class="image border-radius" style="background-image: url(images/player.jpg);"></div>
        <div class="title d-flex justify-content-between">
            <div>
                <h6 class="fw-medium">
                    Building an Online Presence
                </h6>
                <span class="d-block">
                    Ethan Cooper
                </span>
            </div>
            <button type="button" class="p-0 lh-1 bg-transparent position-relative border-0 transition">
                <i class="ri-heart-line"></i>
            </button>
        </div>
        <app-music-player />
    </div>
</div>