<!-- <div style="max-width: 1120px; margin: auto;"> -->

<div class="row">
    <div class="col-lg-8">

        <!-- Stats -->
        <app-stats />

        <div class="row">
            <div class="col-lg-6">

                <!-- Rooms Availability -->
                <app-rooms-availability />

            </div>
            <div class="col-lg-6">

                <!-- Guest Activity -->
                <app-guest-activity />
                
            </div>
        </div>

        <!-- Upcoming VIP Reservations -->
        <app-upcoming-vip-reservations />

    </div>
    <div class="col-lg-4">

        <!-- Recent Bookings -->
        <app-recent-bookings />
        
    </div>
</div>

<!-- Popular Rooms -->
<app-popular-rooms />

<!-- Customer Reviews -->
<app-customer-reviews />

<!-- </div> -->