<div class="gainers-losers-card trezo-card mb-25 border-radius d-block bg-white border-0 shadow-none">
    <div class="trezo-card-header d-flex align-items-center justify-content-between">
        <div class="trezo-card-title">
            <h5 class="mb-0">
                Gainers & Losers
            </h5>
        </div>
        <div class="trezo-card-subtitle">
            Timeframe: 24h
        </div>
    </div>
    <div class="trezo-card-content">
        <div class="table-style-two">
            <div class="basic-table table-responsive">
                <table class="table mb-0">
                    <tbody>
                        <tr>
                            <td>
                                Goatseus Maximus
                            </td>
                            <td class="text-body">
                                $0.719
                            </td>
                            <td class="text-success">
                                + 47.44%
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Uniswap
                            </td>
                            <td class="text-body">
                                $9.15
                            </td>
                            <td class="text-danger">
                                - 31.87%
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Aave
                            </td>
                            <td class="text-body">
                                $161.05
                            </td>
                            <td class="text-success">
                                + 23.94%
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Bittenso
                            </td>
                            <td class="text-body">
                                $526.97
                            </td>
                            <td class="text-danger">
                                - 22.94%
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Injective
                            </td>
                            <td class="text-body">
                                $20.87
                            </td>
                            <td class="text-success">
                                + 21.41%
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Monero
                            </td>
                            <td class="text-body">
                                $209.38
                            </td>
                            <td class="text-danger">
                                - 0.84%
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>