<div
    class="restaurant-welcome-card trezo-card mb-25 border-radius d-block border-0 shadow-none"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <div class="trezo-card-content">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="content">
                    <span class="sub-title fw-medium d-inline-block">
                        Hello Olivia!
                    </span>
                    <h1 class="text-white">
                        Here Your Restaurant Stats Today.
                    </h1>
                    <div class="stats d-flex align-items-center">
                        <div class="item position-relative">
                            <i class="material-symbols-outlined">
                                order_approve
                            </i>
                            <span class="d-block text-white">
                                Total Orders
                            </span>
                            <h6 class="mb-0 text-white">
                                12051+
                            </h6>
                        </div>
                        <div class="item position-relative">
                            <i class="material-symbols-outlined">
                                group
                            </i>
                            <span class="d-block text-white">
                                Total Users
                            </span>
                            <h6 class="mb-0 text-white">
                                153k+
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="image position-relative">
                    <img src="images/chowmein.png" class="main-image" alt="chowmein">
                    <img src="images/icons/3dots1.png" class="shape1" alt="3dots1">
                    <img src="images/icons/3dots2.png" class="shape2" alt="3dots2">
                </div>
            </div>
        </div>
    </div>
</div>