<footer class="footer" [class.footer-dark]="footerDark" [class.footer-light]="footerLight" [class.footer-fix]="footerFix">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 p-0 footer-left">
        <p class="mb-0">Copyright © 2024 LOPEZSOFT SAS. All rights reserved.</p>
      </div>
      <div class="col-md-6 p-0 footer-right">
        <p class="mb-0 ms-3">hecho con <i class="fa fa-heart font-danger"></i> </p>
        <b>V. {{getVersion()}}</b>
      </div>
    </div>
  </div>
</footer>