<div
    class="crypto-market-cap-card trezo-card mb-25 border-radius d-block border-0 shadow-none"
    [class.component-dark-theme]="themeService.isDark()"
>
    <div class="trezo-card-content d-flex align-items-center justify-content-between">
        <div>
            <span class="d-block">
                Crypto Market Cap
            </span>
            <h5 class="mb-0">
                $2.64T
            </h5>
        </div>
        <div class="icon rounded-circle bg-white text-purple d-flex align-items-center justify-content-center">
            <i class="material-symbols-outlined">
                payments
            </i>
        </div>
    </div>
</div>