<div class="content-wrapper">
    <div class="card">
        <div class="card-header">
            <strong>{{ title | uppercase }}</strong>
        </div>
    </div>
    <div class="content-detached">
        <div class="content-body">
            <app-custom-cards-header (refreshCarsd)="refreshCarsd(true)" (searchQuery)="searchQuery($event)" 
                (createData)="createData()" (gridView)="gridView()" (listView)="listView()">
            </app-custom-cards-header>
        </div>
    </div>
</div>