<div class="row">
    <div class="col-xxl-9">

        <!-- Welcome -->
        <app-welcome />

    </div>
    <div class="col-xxl-3">

        <!-- Customer Visits -->
        <app-customer-visits />
        
    </div>
    <div class="col-lg-4">

        <!-- Top Selling Products -->
        <app-top-selling-products />

    </div>
    <div class="col-lg-8">

        <!-- Gross Revenue -->
        <app-gross-revenue />

    </div>
    <div class="col-xxl-9">

        <!-- Recent Sales -->
        <app-recent-sales />

    </div>
    <div class="col-xxl-3">
        <div class="row">
            <div class="col-sm-6 col-xxl-12">

                <!-- Sales By Gender -->
                <app-sales-by-gender />

            </div>
            <div class="col-sm-6 col-xxl-12">

                <!-- Sales This Month -->
                <app-sales-this-month />

            </div>
        </div>
    </div>
    <div class="col-lg-4">

        <!-- Sales By Category -->
        <app-sales-by-category />

    </div>
    <div class="col-lg-8">

        <!-- Stock Alerts -->
        <app-stock-alerts />

    </div>
</div>