<div
    class="instagram-followers-card trezo-card mb-25 border-radius d-block bg-white shadow-none"
    [class.component-dark-theme]="themeService.isDark()"
>
    <div class="trezo-card-content">
        <img src="images/icons/instagram3.svg" alt="instagram">
        <h3 class="fw-medium">
            345k
        </h3>
        <span class="d-block">
            Followers
        </span>
        <div class="info d-flex align-items-center">
            <span class="d-block text-body">
                This Month
            </span>
            <span class="info-badge position-relative d-inline-block">
                <i class="ri-arrow-up-line"></i>
                3.5%
            </span>
        </div>
    </div>
</div>