<div
    class="sa-top-selling-products-card trezo-card mb-25 border-radius d-block bg-white border-0 shadow-none"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <div class="trezo-card-header d-flex align-items-center justify-content-between">
        <div class="trezo-card-title">
            <h5 class="mb-0">
                Top Selling Products
            </h5>
        </div>
    </div>
    <div class="trezo-card-content">
        <div class="basic-table table-responsive">
            <table class="table mb-0">
                <tbody>
                    <tr>
                        <td>
                            <div class="employee-info d-flex align-items-center">
                                <div class="img border-radius">
                                    <img src="images/stock-alerts/stock1.jpg" class="border-radius" alt="stock-image">
                                </div>
                                <div>
                                    <a routerLink="/dashboard/ecommerce-page/product-details" class="d-block fw-semibold">
                                        Tablet PC
                                    </a>
                                    <span class="d-block text-body">
                                        <strong class="fw-semibold">2032</strong> sold
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="ratings lh-1">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <span class="d-inline-block lh-1 text-xs text-body">
                                    5.0
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="employee-info d-flex align-items-center">
                                <div class="img border-radius">
                                    <img src="images/stock-alerts/stock2.jpg" class="border-radius" alt="stock-image">
                                </div>
                                <div>
                                    <a routerLink="/dashboard/ecommerce-page/product-details" class="d-block fw-semibold">
                                        Laptop
                                    </a>
                                    <span class="d-block text-body">
                                        <strong class="fw-semibold">1020</strong> sold
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="ratings lh-1">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-half-line"></i>
                                <span class="d-inline-block lh-1 text-xs text-body">
                                    4.5
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="employee-info d-flex align-items-center">
                                <div class="img border-radius">
                                    <img src="images/stock-alerts/stock3.jpg" class="border-radius" alt="stock-image">
                                </div>
                                <div>
                                    <a routerLink="/dashboard/ecommerce-page/product-details" class="d-block fw-semibold">
                                        QCY Airpod
                                    </a>
                                    <span class="d-block text-body">
                                        <strong class="fw-semibold">99</strong> sold
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="ratings lh-1">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-line"></i>
                                <span class="d-inline-block lh-1 text-xs text-body">
                                    4.0
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="employee-info d-flex align-items-center">
                                <div class="img border-radius">
                                    <img src="images/stock-alerts/stock4.jpg" class="border-radius" alt="stock-image">
                                </div>
                                <div>
                                    <a routerLink="/dashboard/ecommerce-page/product-details" class="d-block fw-semibold">
                                        Zenbook X
                                    </a>
                                    <span class="d-block text-body">
                                        <strong class="fw-semibold">89</strong> sold
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="ratings lh-1">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-half-line"></i>
                                <i class="ri-star-line"></i>
                                <span class="d-inline-block lh-1 text-xs text-body">
                                    3.5
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="employee-info d-flex align-items-center">
                                <div class="img border-radius">
                                    <img src="images/stock-alerts/stock5.jpg" class="border-radius" alt="stock-image">
                                </div>
                                <div>
                                    <a routerLink="/dashboard/ecommerce-page/product-details" class="d-block fw-semibold">
                                        Clay Camera
                                    </a>
                                    <span class="d-block text-body">
                                        <strong class="fw-semibold">72</strong> sold
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="ratings lh-1">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-line"></i>
                                <i class="ri-star-line"></i>
                                <span class="d-inline-block lh-1 text-xs text-body">
                                    3.0
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="employee-info d-flex align-items-center">
                                <div class="img border-radius">
                                    <img src="images/stock-alerts/stock6.jpg" class="border-radius" alt="stock-image">
                                </div>
                                <div>
                                    <a routerLink="/dashboard/ecommerce-page/product-details" class="d-block fw-semibold">
                                        Laptop Mockup
                                    </a>
                                    <span class="d-block text-body">
                                        <strong class="fw-semibold">72</strong> sold
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="ratings lh-1">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-half-line"></i>
                                <i class="ri-star-line"></i>
                                <i class="ri-star-line"></i>
                                <span class="d-inline-block lh-1 text-xs text-body">
                                    2.5
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>