<div class="row">
    <div class="col-6 col-sm-4 col-md-2">
        <button type="button" class="btn btn-custom" (click)="goRoute('user/profile')">
            <i class="fas fa-id-card"></i>
            Perfil
        </button>
    </div>
    <div class="col-6 col-sm-4 col-md-2" *ngIf="user.isRolAccess()">
        <button type="button" class="btn btn-custom" (click)="goRoute('user/list')">
            <i class="fas fa-id-card"></i>
            Lista de usuarios
        </button>
    </div>
    <div class="col-6 col-sm-4 col-md-2" *ngIf="user.isRolAccess()" title="Permite crear el perfil de acceso a los docentes que aun no lo tienen.">
        <button type="button" class="btn btn-custom" (click)="goRoute('user/teachers/profile')">
            <i class="fas fa-chalkboard-teacher"></i>
            Crear perfil docente
        </button>
    </div>
</div>
