<!--Registration Page Starts-->
<section>
  <div class="auth-wrapper auth-v2">
    <div class="auth-inner row m-0">
      <!-- Brand logo--><a class="brand-logo" href="javascript:void(0);">
        <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" height="28" />
        <h2 class="brand-text text-primary ml-1">{{ coreConfig.app.appName }}</h2>
      </a>
      <!-- /Brand logo-->
      <!-- Left Text-->
      <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
        <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
          <img class="img-fluid" [src]="
              coreConfig.layout.skin === 'dark'
                ? 'assets/images/pages/register-v2-dark.svg'
                : 'assets/images/pages/register-v2.svg'
            " alt="Register V2" />
        </div>
      </div>
      <!-- /Left Text-->
      <!-- Register-->
      <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
        <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
          <h4 class="card-title mb-2 text-break text-center">
            <strong>{{ 'register.title' | translate }}</strong>
          </h4>
          <p>{{ 'register.description' | translate }}</p>
          <form class="auth-register-form mt-2" [formGroup]="customForm">
            <h1 class="text-break text-center" style="font-size: 24px;">
			  <strong>{{ 'register.headerForm' | translate }}</strong><br>
            </h1>
            <h6 class="card-title mb-2 text-break text-center">
              <strong>{{ 'register.userData' | translate | uppercase }}</strong>
            </h6>
			<hr>
            <div class="form-group">
              <input class="form-control" type="text" formControlName="first_name" placeholder="Nombre" autocomplete="off"
                     [class.is-invalid]="invalidFirstName" autofocus   #focusElement>
              <small class="text-danger" *ngIf="invalidFirstName">Nombre muy corto</small>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" formControlName="last_name"
                placeholder="Apellidos" autocomplete="off" [class.is-invalid]="invalidLastName">
              <small class="text-danger" *ngIf="invalidLastName">Apellidos muy cortos</small>
            </div>
            <div class="form-group">
              <input class="form-control" type="email" formControlName="email"
                [placeholder]="placeholderEmail" inputmode="email" autocomplete="off" [class.is-invalid]="invalidEmail">
              <small class="text-danger" *ngIf="invalidEmail">Correo electrónico incorrecto</small>
            </div>
            <div class="form-group">
              <input class="form-control" type="password" formControlName="password"
                [placeholder]="placeholderPassword" inputmode="password" autocomplete="off" [class.is-invalid]="isInvalid('password')">
              <small class="text-danger" *ngIf="isInvalid('password')">Contraseña incorrecta</small>
            </div>
            <div class="form-group">
              <input class="form-control" type="password" formControlName="password_confirmation"
                [placeholder]="placeholderConfirmPassword" inputmode="password" autocomplete="off" [class.is-invalid]="isInvalid('password_confirmation')">
              <small class="text-danger" *ngIf="isInvalid('password_confirmation')">Confirmación de contraseña incorrecta</small>
            </div>
            <button class="btn btn-info btn-block btn-lg" type="submit" (click)="onSave()" [disabled]="loading">
              <strong *ngIf="!loading">{{ 'register.button.registerNow' | translate }}</strong>
              <strong
                *ngIf="loading">{{ 'register.button.creatingAccount' | translate }}
							</strong>
              <i [ngClass]="{'fa-id-card':!loading, 'fa-spinner fa-spin':loading }" class="fas"
                style="text-align: left;padding-left: 10px;">
              </i>
            </button>
            <label
              style="padding: 2px;font-size: 12px;">{{ 'register.label.youRegistered' | translate }}
              <a
                [routerLink]="['/auth/login']"><strong>{{ 'register.label.login' | translate }}</strong>
							</a>
            </label>
          </form>
          <div class="d-flex justify-content-between align-items-center">
            <ngx-spinner> <p style="color: white" > {{ maskSpinner }} </p></ngx-spinner>
          </div>
        </div>
      </div>
      <!-- /Register-->
    </div>
  </div>
</section>
<!--Registration Page Ends-->
