<div
    class="doctor-welcome-card trezo-card position-relative z-1 border-radius d-block border-0 shadow-none"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <div class="trezo-card-content">
        <div class="row">
            <div class="col-lg-6">
                <div class="content">
                    <span class="sub-title d-block text-white">
                        Good Morning
                    </span>
                    <h1 class="text-white">
                        Dr. Olivia John
                    </h1>
                    <span class="designation text-white fw-smeibold d-inline-block text-uppercase position-relative">
                        <img src="images/icons/heart.png" alt="heart">
                        CARDIO SPECIALIST
                    </span>
                    <p>
                        Today you have <span>15</span> Consultations and <span>12</span> Operations.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="image">
                    <img src="images/main-doctor.png" alt="doctor-image">
                </div>
            </div>
        </div>
    </div>
    <div class="shape">
        <img src="images/line.png" alt="line">
    </div>
    <div class="star">
        <img src="images/star.png" alt="star">
    </div>
</div>