.featured-card {
    background: linear-gradient(84deg, #23272E 3.5%, #526077 94.93%);

    .trezo-card-content {
        .main-title {
            font-size: 12px;
            padding: 1.5px 15px;
            border-radius: 30px;
            margin-bottom: 12px;
            background-color: #526077;
        }
        .featured-slides {
            .content {
                margin-right: -55px;

                h2 {
                    font-size: 28px;
                    margin-bottom: 8px;
                }
                p {
                    color: #D5D9E2;
                    max-width: 370px;
                }
                .author {
                    margin-top: 20px;

                    div {
                        color: #F6F7F9;
                        margin-right: 10px;
                        border-radius: 30px;
                        padding: 3.5px 12.5px;
                        border: 1px solid #64748B;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
            .info {
                gap: 20px;
                margin-top: 12px;

                div {
                    padding-left: 40px;

                    i {
                        left: 0;
                        top: 50%;
                        font-size: 32px;
                        color: #757DFF;
                        position: absolute;
                        transform: translateY(-50%);
                    }
                    span {
                        font-size: 12px;
                        color: #D5D9E2;
                    }
                    h6 {
                        font-size: 14px;
                    }
                }
            }
            .image {
                max-width: 332.5px;
            }
        }
    }
    .shape {
        right: 0;
        z-index: -1;
    }
    &.component-rtl-enabled {
        .trezo-card-content {
            .featured-slides {
                .content {
                    margin: {
                        right: 0;
                        left: -55px;
                    };
                    .author {
                        div {
                            margin: {
                                right: 0;
                                left: 10px;
                            };
                            &:last-child {
                                margin-left: 0;
                            }
                        }
                    }
                }
                .info {
                    div {
                        padding: {
                            left: 0;
                            right: 40px;
                        };
                        i {
                            left: auto;
                            right: 0;
                        }
                    }
                }
                .row {
                    direction: rtl;
                }
            }
        }
        .shape {
            transform: scaleX(-1);
            right: auto;
            left: 0;
        }
    }
}
::ng-deep {
    .featured-slides {
        .owl-dots {
            margin-top: 0 !important;
            align-items: center;
            position: absolute;
            display: flex;
            top: -22px;
            gap: 5px;
            right: 0;

            .owl-dot {
                span {
                    margin: 0;
                    width: 10px;
                    height: 3px;
                    border-radius: 30px;
                    background: #8695AA;
                }
                &:hover {
                    span {
                        background: #ECEEF2;
                    }
                }
                &.active {
                    span {
                        width: 29px;
                        background: #ECEEF2;
                    }
                }
            }
        }
    }
    .component-rtl-enabled {
        .featured-slides {
            .owl-dots {
                right: auto;
                left: 0;
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .featured-card {
        .trezo-card-content {
            .featured-slides {
                .content {
                    margin-right: 0;

                    h2 {
                        font-size: 22px;
                    }
                    p {
                        max-width: 100%;
                    }
                    .author {
                        margin-top: -10px;
    
                        div {
                            margin-top: 10px;
                        }
                    }
                }
                .info {
                    gap: 15px;
                    margin-top: 8px;
                    display: block !important;
    
                    div {
                        display: inline-block !important;
                        margin: {
                            right: 12px;
                            top: 12px;
                        };
                        i {
                            font-size: 30px;
                        }
                    }
                }
                .image {
                    max-width: 100%;
                    margin-top: 25px;
                }
            }
        }
        &.component-rtl-enabled {
            .trezo-card-content {
                .featured-slides {
                    .content {
                        margin-left: 0;
                    }
                    .info {
                        div {
                            margin: {
                                right: 0;
                                left: 12px;
                            };
                        }
                    }
                }
            }
        }
    }
    ::ng-deep {
        .featured-slides {
            .owl-dots {
                top: -24px;
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .featured-card {
        .trezo-card-content {
            .featured-slides {
                .content {
                    h2 {
                        font-size: 24px;
                    }
                }
                .info {
                    gap: 15px;
                    margin-top: 15px;
                }
                .image {
                    max-width: 100%;
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {

    .featured-card {
        .trezo-card-content {
            .featured-slides {
                .content {
                    margin-right: 0;
                }
            }
        }
        &.component-rtl-enabled {
            .trezo-card-content {
                .featured-slides {
                    .content {
                        margin-left: 0;
                    }
                }
            }
        }
    }

}