$circle-border-radius:50%;
$base-border-color: #ddd;
$lightest-color:#fff;
$font-weight: 400;
$font-weight-bold: 500;

$accordion-header-background-color: $lightest-color;
$accordion-header-color: #333;

$social-facebook-btn-background: #167abc;
$social-twitter-btn-background: #03b4d5;
$social-google-plus-btn-background: #e44959;
$social-envelope-btn-background: #7754aa; 

// widgets 

$widget-first-container-background: #468fd3;
$widget-second-container-background: #8dc153;
$widget-third-container-background: #607d8b;
$follow-button-color : #82c748;
$follower-toolbar-background: #fafafa;

$sale-container-color: #458fd2;
$message-container-color: #4caf50;
$code-container-color: #9c27b0;
$user-container-color: #e91e63;
$server-container-color: #ffc107;
$file-container-color: #673ab7;

// profiles

$like-comment-btn-background-color: #f4f4f4;
$like-comment-btn-color: #979797;
$article-comment-color: #eee;

// Faqs

$FAQ-sub-header-color: #333;

$FAQ-tip-list-color-1: #56b650;
$FAQ-tip-list-color-2: #ffc037;
$FAQ-tip-list-color-3: #e55149;
$FAQ-tip-list-color-4: #a97fe3;

// Blank page

$blank-page-background-color: #ebebeb;
$blank-page-color :#cacaca;