<div
    class="stats-card trezo-card mb-25 border-radius d-block bg-white border-0 shadow-none"
    style="background-image: url(images/sparklines/sparkline-bg.jpg);"
>
    <div class="trezo-card-content">
        <div class="box border-radius bg-white">
            <span class="d-block">
                Total Value of all Crypto
            </span>
            <h4 class="mb-0">
                $597.655B
            </h4>
        </div>
        <div class="box border-radius bg-white">
            <span class="d-block">
                First Trade Volume
            </span>
            <h4 class="mb-0">
                $21.953M <span class="fw-normal text-body">(1 Jan, 2025)</span>
            </h4>
        </div>
        <div class="box border-radius bg-white">
            <span class="d-block">
                Last Trade Volume
            </span>
            <h4 class="mb-0">
                $25.965B <span class="fw-normal text-body">(1 Nov, 2025)</span>
            </h4>
        </div>
        <div class="box border-radius bg-white">
            <span class="d-block">
                Crypto Total Market Cap
            </span>
            <h4 class="mb-0">
                $1.36T
            </h4>
        </div>
    </div>
</div>