<div class="upgrade-plan-card trezo-card text-center mb-25 border-radius d-block bg-white shadow-none">
    <div class="trezo-card-content">
        <h3 class="fw-medium">
            Upgrade Your Plan!
        </h3>
        <p class="mx-auto">
            Access advanced features, enhanced support, and exclusive tools designed to help you achieve more.
        </p>
        <div class="image">
            <img src="images/girl-with-dog.png" alt="girl-with-dog">
        </div>
        <a routerLink="." class="btn btn-primary text-white">
            <span class="d-inline-block position-relative">
                <i class="ri-fire-fill"></i>
                Upgrade Plan
            </span>
        </a>
    </div>
</div>