<div class="price-movement-card trezo-card mb-25 border-radius d-block bg-white border-0 shadow-none">
    <div class="trezo-card-header d-flex align-items-center justify-content-between">
        <div class="trezo-card-title">
            <h5 class="mb-0">
                Price Movement
            </h5>
        </div>
        <div class="trezo-card-subtitle">
            <button type="button" class="active d-inline-block transition p-0">
                1h
            </button>
            <button type="button" class="d-inline-block transition p-0">
                1d
            </button>
            <button type="button" class="d-inline-block transition p-0">
                1w
            </button>
            <button type="button" class="d-inline-block transition p-0">
                1m
            </button>
        </div>
    </div>
    <div class="trezo-card-content">
        <div class="chart">
            <div id="price_movement_chart"></div>
            <div id="price_movement_chart2"></div>
        </div>
    </div>
</div>