<div
    class="total-orders-card trezo-card mb-25 border-radius d-block bg-white border-0 shadow-none"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <div class="trezo-card-content position-relative">
        <span class="d-block">
            Total Orders
        </span>
        <h3>
            1250
        </h3>
        <span class="trezo-badge finished">
            +5.4%
        </span>
        <span class="text-xs d-block">
            vs previous 30 days
        </span>
        <div class="chart">
            <div id="restaurant_total_orders_chart"></div>
        </div>
    </div>
</div>