<div
    class="top-podcasters-card trezo-card mb-25 border-radius d-block bg-white border-0 shadow-none"
    [class.component-dark-theme]="themeService.isDark()"
>
    <div class="trezo-card-header d-flex align-items-center justify-content-between">
        <div class="trezo-card-title">
            <h5 class="mb-0 fw-semibold">
                Top Podcasters
            </h5>
        </div>
        <div class="trezo-card-subtitle">
            <a routerLink="." class="view-all-btn d-inline-block">
                <span class="d-inline-block position-relative">
                    View All
                    <i class="ri-arrow-right-s-line"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="trezo-card-content">
        <div class="table-style-two">
            <div class="basic-table table-responsive">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th scope="col" class="fw-medium text-body">
                                Name
                            </th>
                            <th scope="col" class="fw-medium text-body">
                                Episodes
                            </th>
                            <th scope="col" class="fw-medium text-body">
                                Earnings
                            </th>
                            <th scope="col" class="fw-medium text-body">
                                Ratings
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="employee-info d-flex align-items-center">
                                    <div class="img rounded-circle">
                                        <img alt="user-image" src="images/users/user24.jpg" class="rounded-circle">
                                    </div>
                                    <div>
                                        <span class="d-block fw-medium">
                                            Tom Richards
                                        </span>
                                        <span class="d-block text-body">
                                            Content Strategist
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td class="fw-medium">
                                95
                            </td>
                            <td class="fw-medium">
                                $125,000
                            </td>
                            <td>
                                <div class="ratings lh-1">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="employee-info d-flex align-items-center">
                                    <div class="img rounded-circle">
                                        <img alt="user-image" src="images/users/user25.jpg" class="rounded-circle">
                                    </div>
                                    <div>
                                        <span class="d-block fw-medium">
                                            Amanda Garcia
                                        </span>
                                        <span class="d-block text-body">
                                            Social Media
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td class="fw-medium">
                                110
                            </td>
                            <td class="fw-medium">
                                $140,000
                            </td>
                            <td>
                                <div class="ratings lh-1">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-half-fill"></i>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="employee-info d-flex align-items-center">
                                    <div class="img rounded-circle">
                                        <img alt="user-image" src="images/users/user26.jpg" class="rounded-circle">
                                    </div>
                                    <div>
                                        <span class="d-block fw-medium">
                                            Lisa Kim
                                        </span>
                                        <span class="d-block text-body">
                                            Branding Consultant
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td class="fw-medium">
                                85
                            </td>
                            <td class="fw-medium">
                                $160,000
                            </td>
                            <td>
                                <div class="ratings lh-1">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-line"></i>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="employee-info d-flex align-items-center">
                                    <div class="img rounded-circle">
                                        <img alt="user-image" src="images/users/user27.jpg" class="rounded-circle">
                                    </div>
                                    <div>
                                        <span class="d-block fw-medium">
                                            Michael Young
                                        </span>
                                        <span class="d-block text-body">
                                            Data Analytics
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td class="fw-medium">
                                130
                            </td>
                            <td class="fw-medium">
                                $90,000
                            </td>
                            <td>
                                <div class="ratings lh-1">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-half-fill"></i>
                                    <i class="ri-star-line"></i>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="employee-info d-flex align-items-center">
                                    <div class="img rounded-circle">
                                        <img alt="user-image" src="images/users/user28.jpg" class="rounded-circle">
                                    </div>
                                    <div>
                                        <span class="d-block fw-medium">
                                            Ravi Patel
                                        </span>
                                        <span class="d-block text-body">
                                            SEO & SEM
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td class="fw-medium">
                                75
                            </td>
                            <td class="fw-medium">
                                $85,000
                            </td>
                            <td>
                                <div class="ratings lh-1">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>