<div class="upgrade-plan-card trezo-card mb-25 border-radius d-block border-0 shadow-none">
    <div class="trezo-card-content">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <h3 class="mb-0 text-white fw-semibold">
                    Upgrade Plan To Manage 20K+ Patients
                </h3>
            </div>
            <div class="col-sm-6">
                <div class="text-center text-sm-end">
                    <img src="images/users.png" alt="users-image">
                </div>
            </div>
        </div>
    </div>
</div>