<!-- Welcome -->
<app-welcome />

<div class="doctor-content">

    <!-- Stats -->
    <app-stats />

    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-6 col-md-6">

                    <!-- Patient Retention -->
                    <app-patient-retention />
            
                </div>
                <div class="col-lg-6 col-md-6">
            
                    <!-- Patient Distribution -->
                    <app-patient-distribution />
                    
                </div>
                <div class="col-lg-12">
            
                    <!-- Upgrade Plan -->
                    <app-upgrade-plan />
                    
                    <!-- Income Vs Expense -->
                    <app-income-vs-expense />
                    
                </div>
            </div>
        </div>
        <div class="col-lg-4">

            <!-- Todays Schedule -->
            <app-todays-schedule />
            
        </div>
        <div class="col-lg-9">
            
            <!-- My Recent Patients -->
            <app-my-recent-patients />

        </div>
        <div class="col-lg-3">

            <!-- Recent Lab Reports -->
            <app-recent-lab-reports />
            
        </div>
    </div>
    
</div>