<div
    class="top-stylist-performance-card trezo-card mb-25 border-radius d-block bg-white border-0 shadow-none"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <div class="trezo-card-header d-flex align-items-center justify-content-between">
        <div class="trezo-card-title">
            <h5 class="mb-0">
                Top Stylist Performance
            </h5>
        </div>
    </div>
    <div class="trezo-card-content">
        <div class="basic-table table-responsive">
            <table class="table mb-0">
                <tbody>
                    <tr>
                        <td>
                            <div class="employee-info d-flex align-items-center">
                                <div class="img">
                                    <img src="images/users/user75.jpg" alt="user-image">
                                </div>
                                <div>
                                    <span class="d-block fw-semibold">
                                        Johhna Loren
                                    </span>
                                    <span class="d-block text-body">
                                        2032 Total Bookings
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="ratings lh-1">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <span class="d-inline-block lh-1 text-xs text-body">
                                    5.0
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="employee-info d-flex align-items-center">
                                <div class="img">
                                    <img src="images/users/user76.jpg" alt="user-image">
                                </div>
                                <div>
                                    <span class="d-block fw-semibold">
                                        Angela Carter
                                    </span>
                                    <span class="d-block text-body">
                                        1020 Total Bookings
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="ratings lh-1">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-half-line"></i>
                                <span class="d-inline-block lh-1 text-xs text-body">
                                    4.5
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="employee-info d-flex align-items-center">
                                <div class="img">
                                    <img src="images/users/user77.jpg" alt="user-image">
                                </div>
                                <div>
                                    <span class="d-block fw-semibold">
                                        Skyler White
                                    </span>
                                    <span class="d-block text-body">
                                        99 Total Bookings
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="ratings lh-1">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-line"></i>
                                <span class="d-inline-block lh-1 text-xs text-body">
                                    4.0
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="employee-info d-flex align-items-center">
                                <div class="img">
                                    <img src="images/users/user78.jpg" alt="user-image">
                                </div>
                                <div>
                                    <span class="d-block fw-semibold">
                                        Jane Ronan
                                    </span>
                                    <span class="d-block text-body">
                                        89 Total Bookings
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="ratings lh-1">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-half-line"></i>
                                <i class="ri-star-line"></i>
                                <span class="d-inline-block lh-1 text-xs text-body">
                                    3.5
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="employee-info d-flex align-items-center">
                                <div class="img">
                                    <img src="images/users/user79.jpg" alt="user-image">
                                </div>
                                <div>
                                    <span class="d-block fw-semibold">
                                        Angel Peril
                                    </span>
                                    <span class="d-block text-body">
                                        72 Total Bookings
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="ratings lh-1">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-line"></i>
                                <i class="ri-star-line"></i>
                                <span class="d-inline-block lh-1 text-xs text-body">
                                    3.0
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>