<div class="row">
    <div class="col-xxl-3 col-sm-6">

        <!-- Total Sales -->
        <app-total-sales />

    </div>
    <div class="col-xxl-3 col-sm-6">
        
        <!-- Total Transactions -->
        <app-total-transactions />

    </div>
    <div class="col-xxl-3 col-sm-6">

        <!-- Average Order Value -->
        <app-average-order-value />

    </div>
    <div class="col-xxl-3 col-sm-6">

        <!-- Total Discount -->
        <app-total-discount />

    </div>
    <div class="col-lg-8">

        <!-- Sales Analytics -->
        <app-sales-analytics />

    </div>
    <div class="col-lg-4">

        <!-- Customer Segmentation -->
        <app-customer-segmentation />
        
    </div>
    <div class="col-xxl-8">

        <!-- Categories -->
        <app-categories />

    </div>
    <div class="col-xxl-4">

        <!-- Order Details -->
        <app-order-details />
        
    </div>
</div>