<div class="row">
    <div class="col-sm-4">

        <!-- New Customers -->
        <div
            class="sa-stat-card trezo-card mb-25 border-radius d-block bg-white border-0 shadow-none"
            [class.component-dark-theme]="themeService.isDark()"
        >
            <div class="trezo-card-content d-flex justify-content-between">
                <div>
                    <span class="d-block">
                        New Customers
                    </span>
                    <h3>
                        14.5k
                    </h3>
                    <span class="trezo-badge shipped">
                        +7%
                    </span>
                </div>
                <div class="icon text-primary bg-primary-100 d-flex align-items-center justify-content-center rounded-circle">
                    <i class="ri-user-3-fill"></i>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-4">

        <!-- Sales -->
        <div
            class="sa-stat-card trezo-card mb-25 border-radius d-block bg-white border-0 shadow-none"
            [class.component-dark-theme]="themeService.isDark()"
        >
            <div class="trezo-card-content d-flex justify-content-between">
                <div>
                    <span class="d-block">
                        Sales
                    </span>
                    <h3>
                        $64.5k
                    </h3>
                    <span class="trezo-badge cancelled">
                        -1.4%
                    </span>
                </div>
                <div class="icon text-success bg-success-100 d-flex align-items-center justify-content-center rounded-circle">
                    <i class="ri-money-dollar-circle-fill"></i>
                </div>
            </div>
        </div>
        
    </div>
    <div class="col-sm-4">

        <!-- Products -->
        <div
            class="sa-stat-card trezo-card mb-25 border-radius d-block bg-white border-0 shadow-none"
            [class.component-dark-theme]="themeService.isDark()"
        >
            <div class="trezo-card-content d-flex justify-content-between">
                <div>
                    <span class="d-block">
                        Products
                    </span>
                    <h3>
                        11.9k
                    </h3>
                    <span class="trezo-badge shipped">
                        +1.1%
                    </span>
                </div>
                <div class="icon text-purple bg-purple-100 d-flex align-items-center justify-content-center rounded-circle">
                    <i class="ri-price-tag-3-fill"></i>
                </div>
            </div>
        </div>
        
    </div>
</div>