
.card-module {
  padding: 0.5em;
  display: flex;
  width: 100%;
  color: #2556a3 !important;
  cursor: pointer;
  .card-icon {
    padding: 0.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    font-size: 3rem;
    color: #2556a3;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    span {
      text-transform: uppercase;
    }
  }
}
.grid-search {
  font-family: 'Arial', sans-serif;
  background-color: #eaf3f9 !important;

  input {
    border-color: #a3c7e0 !important;
    box-shadow: none;
    transition: border-color 0.5s ease;
    font-size: 13px;
    min-height: 32px;
    height: 32px;
  }

  button.btn {
    background-color: #a3c7e0 !important;
    border-color: #a3c7e0 !important;
    transition: background-color 0.5s ease;
    min-height: 32px;
    height: 32px;
    width: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover, &:focus {
      background-color: darken(#a3c7e0, 10%) !important;
    }
  }
}

