<section>
    <div class="card">
        <div class="card-header p-1">ESTIMADO USUARIO USTED TIENE ACCESO A:</div>
        <div class="card-body" *ngIf="!(user.schools.length > 0)">NO TIENE ACCESOS</div>
        <div class="p-1 w-100">
            <div class="grid-search">
                <input type="search"
                       #searchField class="form-control" placeholder="Búsqueda"
                       (input)="inputSearch($event)"
                       (change)="$event.stopPropagation()"
                       autofocus>
            </div>
        </div>
    </div>
</section>
<section *ngFor="let school of schools()">
    <div class="row">
        <div class="col-12 col-md-4" *ngFor="let role of school.roles">
            <div class="card">
                <div class="card-module" (click)="clickOnModule(school.school, role)">
                    <div class="card-icon"><i [class]="role.profile.font"></i></div>
                    <div class="card-content">
                        <h5 class="small"><b>{{school.school.nameschool}}</b></h5>
                        <span class="small">MODULO: <strong>{{role.profile.profile_name}}</strong></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<block-ui></block-ui>
