<div class="row">
    <div class="col-xxl-8">

        <!-- Featured -->
        <app-featured />

    </div>
    <div class="col-xxl-4">

        <!-- Popular Hosts -->
        <app-popular-hosts />
        
    </div>
    <div class="col-lg-8">

        <!-- Recently Played -->
        <app-recently-played />

    </div>
    <div class="col-lg-4">

        <!-- Player -->
        <app-player />
        
    </div>
    <div class="col-lg-8">

        <!-- Most Popular -->
        <app-most-popular />

    </div>
    <div class="col-lg-4">

        <!-- Upcoming Episodes -->
        <app-upcoming-episodes />

        <!-- Today's Earnings -->
        <app-todays-earnings />
        
    </div>
    <div class="col-lg-6">

        <!-- Listener Analytics -->
        <app-listener-analytics />

    </div>
    <div class="col-lg-6">

        <!-- Top Podcasters -->
        <app-top-podcasters />
        
    </div>
</div>