<div
    class="featured-services-card trezo-card mb-25 border-radius d-block bg-white border-0 shadow-none"
    [class.component-dark-theme]="themeService.isDark()"
>
    <div class="trezo-card-header d-flex align-items-center justify-content-between">
        <div class="trezo-card-title">
            <h5 class="mb-0">
                Featured Services
            </h5>
        </div>
    </div>
    <div class="trezo-card-content">
        <ul class="p-0 m-0 list-unstyled">
            <li class="d-flex align-items-center justify-content-between">
                <div class="info d-flex align-items-center">
                    <img src="images/icons/hair-cutting.svg" alt="hair-cutting">
                    <div>
                        <span class="d-block text-black fw-semibold">
                            Hair Cut
                        </span>
                        <span class="d-block text-body">
                            132 Served this week
                        </span>
                    </div>
                </div>
                <span class="number fw-medium text-primary rounded-circle d-flex align-items-center justify-content-center">
                    01
                </span>
            </li>
            <li class="d-flex align-items-center justify-content-between">
                <div class="info d-flex align-items-center">
                    <img src="images/icons/manicure.svg" alt="manicure">
                    <div>
                        <span class="d-block text-black fw-semibold">
                            Manicure
                        </span>
                        <span class="d-block text-body">
                            102 Served this week
                        </span>
                    </div>
                </div>
                <span class="number fw-medium text-primary rounded-circle d-flex align-items-center justify-content-center">
                    02
                </span>
            </li>
            <li class="d-flex align-items-center justify-content-between">
                <div class="info d-flex align-items-center">
                    <img src="images/icons/pedicure.svg" alt="pedicure">
                    <div>
                        <span class="d-block text-black fw-semibold">
                            Pedicure
                        </span>
                        <span class="d-block text-body">
                            99 Served this week
                        </span>
                    </div>
                </div>
                <span class="number fw-medium text-primary rounded-circle d-flex align-items-center justify-content-center">
                    03
                </span>
            </li>
            <li class="d-flex align-items-center justify-content-between">
                <div class="info d-flex align-items-center">
                    <img src="images/icons/nail-polish.svg" alt="nail-polish">
                    <div>
                        <span class="d-block text-black fw-semibold">
                            Nail Art
                        </span>
                        <span class="d-block text-body">
                            89 Served this week
                        </span>
                    </div>
                </div>
                <span class="number fw-medium text-primary rounded-circle d-flex align-items-center justify-content-center">
                    04
                </span>
            </li>
            <li class="d-flex align-items-center justify-content-between">
                <div class="info d-flex align-items-center">
                    <img src="images/icons/woman.svg" alt="woman">
                    <div>
                        <span class="d-block text-black fw-semibold">
                            Facial Treatment
                        </span>
                        <span class="d-block text-body">
                            72 Served this week
                        </span>
                    </div>
                </div>
                <span class="number fw-medium text-primary rounded-circle d-flex align-items-center justify-content-center">
                    05
                </span>
            </li>
        </ul>
    </div>
</div>