<div class="asset-allocation-card trezo-card mb-25 border-radius d-block bg-white border-0 shadow-none">
    <div class="trezo-card-header d-flex align-items-center justify-content-between">
        <div class="trezo-card-title">
            <h5 class="mb-0">
                Asset Allocation
            </h5>
        </div>
        <div class="trezo-card-subtitle">
            Last 30 Days
        </div>
    </div>
    <div class="trezo-card-content">
        <span class="d-block">
            Total Value
        </span>
        <h5 class="mb-0">
            $17,485
        </h5>
        <div class="chart">
            <div id="ct_asset_allocation_chart"></div>
        </div>
    </div>
</div>