/sale_detail.jasper
/notes_detail.jasper
/reaport_header.jasper
/familiar_subreport.jasper
/firma_rector_subreport.jasper
/report_header.jasper
/report_footer.jasper
/firmas_certificados_subreport.jasper
/datos_estudiante_constancia_subreport.jasper
/notas_certificado_per_subreport.jasper
