<div class="row">
    <div class="col-6 col-sm-3 col-md-2">
        <button type="button" class="btn btn-custom" (click)="goRoute('/payroll/employees')">
            <i class="fas fa-user-graduate"></i>
            Actividades de apoyo
        </button>
    </div>
    <div class="col-6 col-sm-3 col-md-2">
        <button type="button" class="btn btn-custom" (click)="goRoute('/payroll/batch')">
            <i class="fas fa-newspaper"></i>
            Informe final de promoción
        </button>
    </div>
    <div class="col-6 col-sm-3 col-md-2">
        <button type="button" class="btn btn-custom" (click)="goRoute('/payroll/management')">
            <i class="far fa-newspaper"></i>
            Actas de promoción
        </button>
    </div>
    <div class="col-6 col-sm-3 col-md-2">
        <button type="button" class="btn btn-custom" (click)="goRoute('/payroll/batch')">
            <i class="far fa-newspaper"></i>
            Actas de promoción (estadísticas)
        </button>
    </div>
    <div class="col-6 col-sm-3 col-md-2">
        <button type="button" class="btn btn-custom" (click)="goRoute('/payroll/batch')">
            <i class="far fa-newspaper"></i>
            Sabanas finales
        </button>
    </div>
    <div class="col-6 col-sm-3 col-md-2">
        <button type="button" class="btn btn-custom" (click)="goRoute('/payroll/batch')">
            <i class="fas fa-user-graduate"></i>
            Promoción anticipada
        </button>
    </div>
    <div class="col-6 col-sm-3 col-md-2">
        <button type="button" class="btn btn-custom" (click)="goRoute('/payroll/batch')">
            <i class="fas fa-certificate"></i>
            Certificados de promoción
        </button>
    </div>
    <div class="col-6 col-sm-3 col-md-2">
        <button type="button" class="btn btn-custom" (click)="goRoute('/payroll/batch')">
            <i class="fas fa-calendar"></i>
            Cerrar año lectivo
        </button>
    </div>
    <div class="col-6 col-sm-3 col-md-2">
        <button type="button" class="btn btn-custom" (click)="goRoute('/payroll/batch')">
            <i class="fas fa-user-graduate"></i>
            Matricular antiguos
        </button>
    </div>
    <div class="col-6 col-sm-3 col-md-2">
        <button type="button" class="btn btn-custom" (click)="goRoute('/payroll/batch')">
            <i class="far fa-newspaper"></i>
            Historial académico
        </button>
    </div>
</div>