<div
    class="reviews-card trezo-card mb-25 border-radius d-block bg-white border-0 shadow-none"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <div class="trezo-card-header d-flex align-items-center justify-content-between">
        <div class="trezo-card-title">
            <h5 class="mb-0">
                Reviews
            </h5>
        </div>
    </div>
    <div class="trezo-card-content">
        <div class="basic-table table-responsive">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th scope="col" class="fw-bold">
                            User ID
                        </th>
                        <th scope="col" class="fw-bold">
                            Customer Name
                        </th>
                        <th scope="col" class="fw-bold">
                            Ratings
                        </th>
                        <th scope="col" class="fw-bold">
                            Reviews
                        </th>
                        <th scope="col" class="fw-bold">
                            Date
                        </th>
                        <th scope="col" class="fw-bold"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="fw-semibold text-body">
                            #001
                        </td>
                        <td>
                            <div class="employee-info d-flex align-items-center">
                                <div class="img rounded-circle">
                                    <img alt="user-image" src="images/users/user58.jpg" class="rounded-circle">
                                </div>
                                <div>
                                    <span class="d-block fw-semibold">
                                        Joanna Watson
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td class="fw-semibold text-body">
                            <div class="ratings lh-1">
                                <i class="ri-star-fill"></i>
                                <span class="d-inline-block lh-1 text-xs text-body">
                                    5.0
                                </span>
                            </div>
                        </td>
                        <td class="reviews">
                            <div class="reviews">
                                <span class="d-block fw-semibold">
                                    Amazing Ambiance and Delicious Food!
                                </span>
                                <p>
                                    Trezo was a fantastic dining experience. The ambiance is warm and inviting, perfect for a date night or celebration. I ordered the truffle pasta, which was rich and perfectly seasoned. The service was impeccable, and the staff made us feel like family. Highly recommend!
                                </p>
                            </div>
                        </td>
                        <td class="fw-semibold text-body">
                            13 Nov, 25
                        </td>
                        <td>
                            <div class="action-buttons d-flex justify-content-end align-items-center">
                                <button type="button" class="p-0 bg-transparent d-inline-block lh-1 border-0">
                                    <i class="material-symbols-outlined"> visibility </i>
                                </button>
                                <button type="button" class="p-0 bg-transparent d-inline-block lh-1 border-0">
                                    <i class="material-symbols-outlined"> edit </i>
                                </button>
                                <button type="button" class="p-0 bg-transparent d-inline-block lh-1 border-0">
                                    <i class="material-symbols-outlined"> delete </i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="fw-semibold text-body">
                            #002
                        </td>
                        <td>
                            <div class="employee-info d-flex align-items-center">
                                <div class="img rounded-circle">
                                    <img alt="user-image" src="images/users/user59.jpg" class="rounded-circle">
                                </div>
                                <div>
                                    <span class="d-block fw-semibold">
                                        Jenelia Anderson
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td class="fw-semibold text-body">
                            <div class="ratings lh-1">
                                <i class="ri-star-fill"></i>
                                <span class="d-inline-block lh-1 text-xs text-body">
                                    4.9
                                </span>
                            </div>
                        </td>
                        <td class="reviews">
                            <div class="reviews">
                                <span class="d-block fw-semibold">
                                    Best Brunch Spot in Town
                                </span>
                                <p>
                                    Visited Trezo for brunch with friends, and it exceeded our expectations. The avocado toast was fresh, and their mimosas were spot-on. Our server was attentive without being intrusive. Definitely coming back!
                                </p>
                            </div>
                        </td>
                        <td class="fw-semibold text-body">
                            14 Nov, 25
                        </td>
                        <td>
                            <div class="action-buttons d-flex justify-content-end align-items-center">
                                <button type="button" class="p-0 bg-transparent d-inline-block lh-1 border-0">
                                    <i class="material-symbols-outlined"> visibility </i>
                                </button>
                                <button type="button" class="p-0 bg-transparent d-inline-block lh-1 border-0">
                                    <i class="material-symbols-outlined"> edit </i>
                                </button>
                                <button type="button" class="p-0 bg-transparent d-inline-block lh-1 border-0">
                                    <i class="material-symbols-outlined"> delete </i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="fw-semibold text-body">
                            #003
                        </td>
                        <td>
                            <div class="employee-info d-flex align-items-center">
                                <div class="img rounded-circle">
                                    <img alt="user-image" src="images/users/user60.jpg" class="rounded-circle">
                                </div>
                                <div>
                                    <span class="d-block fw-semibold">
                                        Jonathon Ronan
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td class="fw-semibold text-body">
                            <div class="ratings lh-1">
                                <i class="ri-star-fill"></i>
                                <span class="d-inline-block lh-1 text-xs text-body">
                                    4.0
                                </span>
                            </div>
                        </td>
                        <td class="reviews">
                            <div class="reviews">
                                <span class="d-block fw-semibold">
                                    Good Food, Slow Service
                                </span>
                                <p>
                                    The food at Trezo was delicious, but the service was a bit slow. We had to wait a while for our appetizers, and our main course was delayed. It’s a nice spot, but they could work on speeding up their service.
                                </p>
                            </div>
                        </td>
                        <td class="fw-semibold text-body">
                            15 Nov, 25
                        </td>
                        <td>
                            <div class="action-buttons d-flex justify-content-end align-items-center">
                                <button type="button" class="p-0 bg-transparent d-inline-block lh-1 border-0">
                                    <i class="material-symbols-outlined"> visibility </i>
                                </button>
                                <button type="button" class="p-0 bg-transparent d-inline-block lh-1 border-0">
                                    <i class="material-symbols-outlined"> edit </i>
                                </button>
                                <button type="button" class="p-0 bg-transparent d-inline-block lh-1 border-0">
                                    <i class="material-symbols-outlined"> delete </i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="trezo-card-pagination">
            <div class="d-md-flex align-items-center justify-content-between">
                <p class="mb-0">
                    Showing 3 of 36 results
                </p>
                <ol class="list-unstyled mb-0 p-0">
                    <li class="d-inline-block">
                        <a class="prev" routerLink=".">
                            <span class="opacity-0">
                                0
                            </span>
                            <i class="material-symbols-outlined">
                                chevron_left
                            </i>
                        </a>
                    </li>
                    <li class="d-inline-block">
                        <a routerLink="." class="active">
                            1
                        </a>
                    </li>
                    <li class="d-inline-block">
                        <a routerLink=".">
                            2
                        </a>
                    </li>
                    <li class="d-inline-block">
                        <a routerLink=".">
                            3
                        </a>
                    </li>
                    <li class="d-inline-block">
                        <a routerLink=".">
                            4
                        </a>
                    </li>
                    <li class="d-inline-block">
                        <a class="next" routerLink=".">
                            <span class="opacity-0">
                                0
                            </span>
                            <i class="material-symbols-outlined">
                                chevron_right
                            </i>
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>