<div class="stats-list position-relative z-1">
    <div class="row">
        <div class="col-lg-3 col-sm-6">

            <!-- Appointments -->
            <app-appointments />

        </div>
        <div class="col-lg-3 col-sm-6">

            <!-- Patients -->
            <app-patients />
            
        </div>
        <div class="col-lg-3 col-sm-6">

            <!-- Operations -->
            <app-operations />
            
        </div>
        <div class="col-lg-3 col-sm-6">

            <!-- Earnings -->
            <app-earnings />
            
        </div>
    </div>
</div>