<div class="market-sentiment-indicator-card trezo-card mb-25 border-radius d-block bg-white border-0 shadow-none">
    <div class="trezo-card-header d-flex align-items-center justify-content-between">
        <div class="trezo-card-title">
            <h5 class="mb-0">
                Market Sentiment Indicator
            </h5>
        </div>
    </div>
    <div class="trezo-card-content">
        <div class="chart">
            <div id="market_sentiment_indicator_chart"></div>
        </div>
        <div class="custom-legends mx-auto d-flex justify-content-center align-items-center flex-wrap text-xs">
            <div class="d-flex align-items-center">
                <span>
                    🟢
                </span>
                Extreme Greed
            </div>
            <div class="d-flex align-items-center">
                <span>
                    🟢
                </span>
                Greed
            </div>
            <div class="d-flex align-items-center">
                <span>
                    🟡
                </span>
                Neutral
            </div>
            <div class="d-flex align-items-center">
                <span>
                    🟠
                </span>
                Fear
            </div>
            <div class="d-flex align-items-center">
                <span>
                    🔴
                </span>
                Extreme Fear
            </div>
        </div>
    </div>
</div>