@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import "./assets/scss/variables/_variables"; // Custom variables
@import "./assets/scss/styles";
@import "./assets/scss/components/index.scss";
.btn-box {
  &:disabled {
    background-color: #a0a0a0; // Un color gris más oscuro
    cursor: not-allowed;      // Cambia el cursor para indicar que no es clickeable
    opacity: 0.7;             // Lo hace un poco transparente
  }
}

@import "./assets/scss/page-auth.scss";
// Importing plugins styles
