<div class="row">
    <div class="col-xxl-6">
        <div class="row">
            <div class="col-lg-4 col-6">

                <!-- Instagram Followers -->
                <app-instagram-followers />

            </div>
            <div class="col-lg-4 col-6">

                <!-- LinkedIn Followers -->
                <app-linkedin-followers />
                
            </div>
            <div class="col-lg-4 col-6">

                <!-- Tiktok Followers -->
                <app-tiktok-followers />
                
            </div>
            <div class="col-lg-4 col-6">

                <!-- Facebook Followers -->
                <app-facebook-followers />
                
            </div>
            <div class="col-lg-4 col-6">

                <!-- X Followers -->
                <app-x-followers />
                
            </div>
            <div class="col-lg-4 col-6">

                <!-- YouTube Subscribers -->
                <app-youtube-subscribers />
                
            </div>
        </div>
    </div>
    <div class="col-xxl-6">

        <!-- LinkedIn Net Followers -->
        <app-linkedin-net-followers />
        
    </div>
    <div class="col-xxl-4 col-md-6">

        <!-- Suggestions -->
        <app-suggestions />

    </div>
    <div class="col-xxl-4 col-md-6">

        <!-- Followers By Gender -->
        <app-followers-by-gender />
        
    </div>
    <div class="col-xxl-4 col-md-12">

        <!-- Recent Instagram Followers -->
        <app-recent-instagram-followers />
        
    </div>
    <div class="col-lg-8">

        <!-- Facebook Campaign -->
        <app-facebook-campaign />

    </div>
    <div class="col-lg-4">

        <!-- Upgrade Plan -->
        <app-upgrade-plan />

    </div>
</div>