<!-- E-commerce Pagination Starts -->
<section id="ecommerce-pagination">
	<div class="row">
		<div class="col-sm-12">
			<div class="d-flex justify-content-center">
				<ngb-pagination (pageChange)="onPageChangeMessage($event)" [collectionSize]="total"  [(page)]="pageNum"  [maxSize]="10"  
					[rotate]="true"  [ellipses]="false" [boundaryLinks]="true">
					<!-- Custom pagination icons -->
					<ng-template ngbPaginationPrevious >
						<span [data-feather]="'chevron-left'" [class]="'font-weight-bolder'"> </span>
					</ng-template>
					<ng-template ngbPaginationFirst>
						<span [data-feather]="'chevrons-left'" [class]="'font-weight-bolder'"></span>
					</ng-template>
					<ng-template ngbPaginationNext>
						<span [data-feather]="'chevron-right'" [class]="'font-weight-bolder'"></span>
					</ng-template>
					<ng-template ngbPaginationLast>
						<span [data-feather]="'chevrons-right'" [class]="'font-weight-bolder'"></span>
					</ng-template>
				</ngb-pagination>
			</div>
		</div>
	</div>
</section>
<!-- E-commerce Pagination Ends -->
<ngx-spinner><span style="color: white;"> {{ maskSpinner}}</span></ngx-spinner>