.staff-performance-scores-card {
    .trezo-card-content {
        margin-bottom: -10px;

        .basic-table {
            table, .table {
                thead {
                    tr {
                        th {
                            letter-spacing: 1px;
                            color: var(--bodyColor);
                            text-transform: uppercase;
                            background-color: transparent;
                            padding: {
                                bottom: 13px;
                                top: 0;
                            };
                            &:first-child {
                                padding-left: 0;
                            }
                            &:last-child {
                                padding-right: 0;
                            }
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            padding: {
                                top: 10px;
                                bottom: 10px;
                            };
                            border: {
                                left-width: 0;
                                right-width: 0;
                            };
                            .employee-info {
                                gap: 10px;
                                
                                .img {
                                    width: 30px;
                                }
                                span {
                                    &:nth-child(1) {
                                        margin-bottom: 1px;
                                        font-size: var(--fontSize);
                                    }
                                }
                            }
                            &:first-child {
                                padding-left: 0;
                            }
                            &:last-child {
                                padding-right: 0;
                                text-align: end;
                            }
                        }
                        &:first-child {
                            td {
                                padding-top: 0;
                                border-top-width: 0;
                            }
                        }
                        &:last-child {
                            td {
                                border-bottom-width: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    &.component-rtl-enabled {
        .trezo-card-content {
            .basic-table {
                table, .table {
                    thead {
                        tr {
                            th {
                                &:first-child {
                                    padding: {
                                        left: 20px;
                                        right: 0;
                                    };
                                }
                                &:last-child {
                                    padding: {
                                        right: 20px;
                                        left: 0;
                                    };
                                }
                            }
                        }
                    }
                    tbody {
                        tr {
                            td {
                                &:first-child {
                                    padding: {
                                        left: 20px;
                                        right: 0;
                                    };
                                }
                                &:last-child {
                                    padding: {
                                        right: 20px;
                                        left: 0;
                                    };
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .staff-performance-scores-card {
        &.component-rtl-enabled {
            .trezo-card-content {
                .basic-table {
                    table, .table {
                        thead {
                            tr {
                                th {
                                    &:first-child {
                                        padding: {
                                            left: 17px;
                                            right: 0;
                                        };
                                    }
                                    &:last-child {
                                        padding: {
                                            right: 17px;
                                            left: 0;
                                        };
                                    }
                                }
                            }
                        }
                        tbody {
                            tr {
                                td {
                                    &:first-child {
                                        padding: {
                                            left: 17px;
                                            right: 0;
                                        };
                                    }
                                    &:last-child {
                                        padding: {
                                            right: 17px;
                                            left: 0;
                                        };
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    .staff-performance-scores-card {
        &.component-rtl-enabled {
            .trezo-card-content {
                .basic-table {
                    table, .table {
                        thead {
                            tr {
                                th {
                                    &:first-child {
                                        padding: {
                                            left: 20px;
                                            right: 0;
                                        };
                                    }
                                    &:last-child {
                                        padding: {
                                            right: 20px;
                                            left: 0;
                                        };
                                    }
                                }
                            }
                        }
                        tbody {
                            tr {
                                td {
                                    &:first-child {
                                        padding: {
                                            left: 20px;
                                            right: 0;
                                        };
                                    }
                                    &:last-child {
                                        padding: {
                                            right: 20px;
                                            left: 0;
                                        };
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}