<div class="w-100 mt-3">
  <div class="d-flex justify-content-end gap-2">
    <button type="button" class="btn btn-danger" (click)="cancelEvent.emit()" [disabled]="loading">
      <i class="fas fa-undo"></i>
      {{ 'buttons.cancel' | transloco }}
    </button>

    @if (showSaveAndCreate) {
      <button type="button" class="btn btn-success" (click)="saveAndCreateEvent.emit()" [disabled]="disabled || loading">
        @if (loading) {
          <i class="fas fa-spinner fa-spin"></i>
        } @else {
          <i class="fas fa-save"></i>
        }
        {{ 'buttons.saveAndCreate' | transloco }}
      </button>
    }

    <button type="button" class="btn btn-primary" (click)="saveAndCloseEvent.emit()" [disabled]="disabled || loading">
      @if (loading) {
        <i class="fas fa-spinner fa-spin"></i>
      } @else {
        <i class="fas fa-save"></i>
      }
      {{ 'buttons.saveAndClose' | transloco }}
    </button>
  </div>
</div>
