<div
    class="total-expense-card trezo-card mb-25 border-radius d-block border-0 shadow-none"
    [class.component-dark-theme]="themeService.isDark()"
>
    <div class="trezo-card-content d-flex justify-content-between align-items-center">
        <div class="info">
            <span class="d-block">
                Total Expense
            </span>
            <h3>
                $18,950
            </h3>
            <div class="gap-10 d-flex align-items-center">
                <span class="trezo-badge with-border border-radius rejected">
                    -18.1%
                </span>
                <span class="d-block text-xs">
                    Last Month
                </span>
            </div>
        </div>
        <div class="icon text-purple rounded-circle d-flex align-items-center justify-content-center">
            <i class="material-symbols-outlined">
                payments
            </i>
        </div>
    </div>
</div>