html, body {
    padding: 0 0 48px;
    margin: 0;
}

#preloader_mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    /* Color de fondo de la máscara (opcional) */
    z-index: 999;
    width: 256px;
    height: 128px;
    border: 1px solid #e2e4e2;
    margin: auto auto;
    border-radius: 3px;
}

p {
    text-align: center;
    font-weight: bold;
    padding-bottom: 15px;
}

#preloader_anim {
    width: 64px;
    /*Ancho del gif*/
    height: 64px;
    /*Alto del gif*/
    position: absolute;
    left: 50%;
    top: 70%;
    background-image: url(../img/241.gif);
    background-repeat: no-repeat;
    background-position: center;
    margin: -32px 0 0 -31px;
    /*Compensando las dimensiones del gif*/
}

.wrapper {
    min-height: 100%;
    width: auto;
    position: relative;
}

footer {
    background-color: #0a8cff;
    width: 100%;
    bottom: 0;
    position: fixed;
    height: 48px;
}

/* Badge Style */

.has-badge {
    overflow: visible !important;
}

.hide-badge {
    display: none !important;
}

.x-btn-badgeCls {
    font-size: 10px;
    position: relative;
    display: inline-block;
    width: auto;
    font-weight: bold;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.5) 0 -0.08em 0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 0.1em;
    /* reset el estilo */
    background-image: none;
    background-color: #C00;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff1a1a), color-stop(3%, #e60000), color-stop(100%, #b30000));
    background-image: -webkit-linear-gradient(top, #ff1a1a, #e60000 3%, #b30000);
    background-image: linear-gradient(top, #ff1a1a, #e60000 3%, #b30000);
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0.1em 0.1em;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0.1em 0.1em;
    z-index: 1000;
}

.x-btn-badgeCls-green {
    font-size: 10px;
    position: relative;
    display: inline-block;
    width: auto;
    font-weight: bold;
    color: white;
    text-shadow: rgba(11, 54, 11, 0.98) 0 -0.08em 0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 0.1em;
    /* reset el estilo */
    background-image: none;
    background-color: #1ccc29;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1ccc29), color-stop(3%, #19b827), color-stop(100%, #179725));
    background-image: -webkit-linear-gradient(top, #1ccc29, #19b827 3%, #179725);
    background-image: linear-gradient(top, #1ccc29, #19b827 3%, #179725);
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0.1em 0.1em;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0.1em 0.1em;
    z-index: 1000;
}

.x-btn-badgeCls-blue {
    font-size: 10px;
    position: relative;
    display: inline-block;
    width: auto;
    font-weight: bold;
    color: white;
    text-shadow: rgba(6, 3, 77, 0.92) 0 -0.08em 0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 0.1em;
    /* reset el estilo */
    background-image: none;
    background-color: #2d91fb;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2d91fb), color-stop(3%, #2d83ea), color-stop(100%, #2d7ee5));
    background-image: -webkit-linear-gradient(top, #2d91fb, #2d83ea 3%, #2d7ee5);
    background-image: linear-gradient(top, #2d91fb, #2d83ea 3%, #2d7ee5);
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0.1em 0.1em;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0.1em 0.1em;
    z-index: 1000;
}

/*Grid class*/

.no-letter-row .x-grid-cell {
    font-weight: bold;
}

.letter-row .x-grid-cell {
    font-weight: normal;
}

.user-name-d {
    font-weight: bold;
    font-size: 18px;
}

.user-info-d {
    font-size: 12px;
}

.width-button-large {
    width: 128px;
    height: 128px;
    margin: 1px;
}

.width-button-large span {
    line-height     : 18px;
    hyphens         : auto;
    overflow-wrap   : break-word;
    white-space     : initial;
    word-wrap       : break-word;
    word-break      : break-word;
    font-size       : 12px !important;
    text-transform  : uppercase;
    max-width       : 108px;
}

.width-button-large .x-btn-icon-el-soft-blue-small{
    font-size: 24px !important;
}

.width-button-large icon {
    font-size       : 16px !important;
}


.width-button-large:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 0px;
    background: rgba(255, 255, 255, 0.3);
    transition: all 2s ease;
}

.width-button-large:hover:before {
    height: 128px;
}

.width-container-button {
    width: 132px;
    background-color: white;
    border: 1px solid orange;
}

.width-container-fechas {
    width: 116px;
    background-color: white;
    border: 0px none;
}
