<div
    class="sidebar-area bg-white transition"
    [ngClass]="{'active': isSidebarToggled}"
    [class.card-borderd]="themeService.isCardBordered()"
    [class.dark-sidebar]="themeService.isSidebarDark()"
    [class.hide-sidebar]="themeService.isHideSidebar()"
    [class.component-dark-theme]="themeService.isDark()"
    [class.right-sidebar]="themeService.isRightSidebar()"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
    [class.card-with-box-shadow]="themeService.isCardWithBoxShadow()"
    [class.component-body-bg-color]="themeService.isBodyBG()"
>
    <div class="logo bg-white">
        <a routerLink="/dashboard" class="d-flex align-items-center position-relative">
            <img src="assets/images/logo/logotipo.svg" class="transition position-relative" alt="logo-icon">
            <!--<span class="fw-bold text-black position-relative">
                CAMPUS
            </span>-->
        </a>
    </div>
    <div
        (click)="toggle()"
        class="burger-menu transition"
        [ngClass]="{'active': isSidebarToggled}"
    >
        <span class="top-bar transition d-block bg-black"></span>
        <span class="middle-bar transition d-block bg-black"></span>
        <span class="bottom-bar transition d-block bg-black"></span>
    </div>
    <ng-scrollbar visibility="hover">
        <div class="sidebar-inner">
            <div class="sidebar-menu">
                <div class="accordion">
                  <div class="accordion-item border-radius border-0">
                    <a routerLink="/dashboard"
                       class="sidebar-menu-link w-100 position-relative border-radius fw-medium transition"
                       routerLinkActive="active"
                       [routerLinkActiveOptions]="{exact: true}">
                      <i class="material-symbols-outlined">
                        dashboard
                      </i>
                      <span class="title lh-1">
                        {{ 'menu.dashboard' | transloco }}
                      </span>
                    </a>
                  </div>
                    <div class="accordion-item border-radius border-0">
                        <a routerLink="/dashboard/profile"
                           class="sidebar-menu-link w-100 position-relative border-radius fw-medium transition" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            <i class="material-symbols-outlined">
                                account_circle
                            </i>
                            <span class="title lh-1">
                                {{ 'menu.user.profile' | transloco }}
                            </span>
                        </a>
                    </div>
                  <span class="sub-title d-block fw-medium text-uppercase">
                    <hr class="my-1">
                  </span>
                  <div class="accordion-item border-radius border-0">
                      <a
                        (click)="authService.confirmLogout()"
                        class="sidebar-menu-link w-100 position-relative border-radius fw-medium transition">
                          <i class="material-symbols-outlined">
                              logout
                          </i>
                          <span class="title lh-1">
                              {{ 'menu.user.logout' | transloco }}
                          </span>
                      </a>
                  </div>
                </div>
            </div>
        </div>
    </ng-scrollbar>
</div>
