<div
    class="expense-card trezo-card mb-25 border-radius d-block bg-white border-0 shadow-none"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <div class="trezo-card-content position-relative">
        <span class="d-block">
            Expense
        </span>
        <h3>
            $132K
        </h3>
        <span class="trezo-badge rejected">
            -1.2%
        </span>
        <span class="text-xs d-block">
            vs previous 30 days
        </span>
        <div class="chart">
            <div id="restaurant_expense_chart"></div>
        </div>
    </div>
</div>