<div class="row">
  <div class="col-6 col-sm-4 col-md-2">
    <button type="button" class="btn btn-custom" (click)="uActionsService.goRoute('dashboard/profile/user')">
      <i class="fas fa-id-card"></i>
      Perfil
    </button>
  </div>
  <div class="col-6 col-sm-4 col-md-2">
    <button type="button" class="btn btn-custom" (click)="uActionsService.goRoute('dashboard/profile/profile-change')">
      <i class="fas fa-id-card"></i>
      Cambiar nombre de usuario
    </button>
  </div>
</div>

